* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color:rgb(8, 37, 48);
  outline-style: solid;
  margin: 2cm;

}
table { 
  font-family:Calibri;
  color:white;
  font-size:11pt;
  font-style:normal;
  font-weight:bold;
  border-collapse:collapse;
  border:2px soild navy;
}

  table.inner{
    border: 56px
  }
  h1{
     color:blueviolet;
     text-decoration: underline;
  }




